body {
    font-family: "Caesar Dressing", system-ui;
   display:flex;
   flex-direction:row;
   align-items:flex-start;
   
}

p {
    font-family:Arial, Helvetica, sans-serif
}

#navbar {
padding:20px;
}

nav > header {
    font-size:25px;
}

main {
margin:20px;

}